body {
line-height:1.6;
}

body > *:first-child {
margin-top:0;
}
body > *:last-child {
margin-bottom:0;
}

section {
width:70%;
margin:0 auto;
}

section > section {
margin-top:4em;
width:100%;
}

section > section > section {
margin-top:0;
margin-bottom:3em;
}

h1 {
font-size:2.4em;
text-align:center;
}

h2 {
font-size:2em;
text-align:center;
}

h3 {
font-size:1.6em;
border-bottom:thin solid #333;
}

h4 {
font-size:1.4em;;
}

h5 {
font-size:1.2em;
}

h6 {
font-size:1em;
}

p, ul, li {
margin:1em 0;
}

ul {
padding-left:2em;
}

ul:first-child {
margin-top:0;
}

ul:last-child {
margin-bottom:0;
}
